.image-container {
    display: flex;
    margin-top: 10px;
}
  
.selected-image {
    flex: 1;
    margin-right: 5px;
}
  
.transformed-image {
    flex: 1;
    margin-left: 5px;
}
  
@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
    }
  
    .selected-image,
    .transformed-image {
        margin: 0;
    }
  }
  
.selector-container {
    display: flex;
    align-items: center;
}
  
.selector-container select {
    margin-right: 5px;
}
  
.impairment-description {
    margin-left: 5px;
}